%div.min-h-screen.flex.items-center.justify-center{ class: "bg-cover bg-center", style: "background-image: url('#{image_path('hero.jpg')}');" }
    .container.mx-auto
        %div.container.mx-auto.max-w-2xl.p-6.bg-white.bg-opacity-70.rounded-lg.shadow-lg.relative.z-10
            %h1.text-3xl.font-bold.text-center.text-gray-900.mb-6 HealSync - Triagem Médica

            %div#chat-history.bg-white.h-96.overflow-y-auto.border.border-gray-300.rounded-lg.p-4.mb-6
                - @messages.each do |message|
                    %p{ class: message[:sender] == "Você" ? "text-right text-blue-600 font-semibold" : "text-left text-gray-600 font-semibold" }
                        %strong= message[:sender] + ": "
                        = message[:text]

            %form#chat-form{ action: process_input_chats_path, method: :post, "data-remote": true, class: "space-y-4" }
                = hidden_field_tag :messages, @messages.to_json
                = hidden_field_tag :awaiting_pain_level, @awaiting_pain_level

                .flex.items-center.space-x-4
                    = text_field_tag :user_input, nil, placeholder: "Descreva seus sintomas aqui...", class: "flex-grow border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all"
                    = submit_tag "Enviar", class: "bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"